<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCayUuB2bQYkrnX65QxGwxRmp1wDDDW_Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>138769701140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstoneCatatanKeuangan</string>
	<key>PROJECT_ID</key>
	<string>laporan-keuangan-5e0dd</string>
	<key>STORAGE_BUCKET</key>
	<string>laporan-keuangan-5e0dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138769701140:ios:ea3d78d718e126084a8a01</string>
</dict>
</plist>